<footer class="container-fluid green"style = "height: 74px; padding: 20px;">
    <p style="text-align: center; color: #fff;">FATEC de Registro&reg; - 2024</p>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/javascript/script.js"></script>
</head>