<%- include ('partials/header.ejs') %> <%- include ('partials/navbar.ejs') %>

<% if (messages.danger) { %>
  <div class=" alert alert-danger">
      <%= messages.danger %>
  </div>
<% } %>

<div class="container">
  <div class="card">
    <div class="card-header">
        <h2> Cadastro de usuário </h2>
    </div>
    <div class="card-body">
        <form action="/createUser" method="post">
            <label>E-mail:</label>
            <input type="email" class="form-control" name="email" placeholder="email@exemplo.com" required><br>
            <label>Senha:</label>
            <input type="password" class="form-control" name="password" placeholder="Insira sua senha" required><br>
            <input type="submit" class="btn btn-success btn-block" value="Cadastrar">
        </form>
        <hr>
        <h6>Já possui conta? <a href="/login">Entrar</a></h6>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>
