<%- include ('partials/header.ejs')%> <%- include ('partials/navbar.ejs')%>

    <main class="index" style="margin-top:-50px; height: 100vh; overflow: hidden;">
      <div class="card principal text-end text-light bg-transparent">
        <div class="card-body">

          <h1 class="card-title fw-bold">Seja Bem-vindo!</h1>
          <p class="card-text fs-5 text mt-4">Este é o sistema de gerenciamento de vendas feito exclusivamente para a
            loja de equipamentos 4Woods</p>
          <a href="/clientes" class="btn">Comece aqui</a>

        </div>
      </div>
    </main>

    <%- include ('partials/footer.ejs')%>