*{
    color: #fefefe;
}

/* header */
.content{
    margin-left: 44vw;
    overflow-x: hidden;
    display:inline-flex;
}

/* navbar */
#navbarNav{
    margin-left: 38vw;
}

.nav-item{
    padding-right: 30px;
}

.nav-link{
    color: #1a3a2c;
}

/* index */
.index{
    background-image: url(/imgs/1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.card{
    border-style: hidden;
    width: 24vw;
    height: 35vh;
    margin-left: 70vw;
    margin-top: 30vh;
    line-height: 25px;
}

.btn{
    background-color: #3d8d5a;
    color: #fefefe;
}

/* tabelas */
#page{
    background-image: url(/imgs/pinheiros.png);
    background-position: top;
    height: 77vh;
}

.table-a{
    width: 900px;
    height: 400px;
    overflow-x: hidden;
}

.divisao{
    height: 5px;
    width: 360px;
    border-radius: 50px;
    background-color: #3d8d5a;
}